section.form {
    background: #f06c64;
    border-bottom: 6px solid #ea676b;
}

input.main_form_item {
    width: 619px;
    height: 38px;
    display: block;
    border-radius: 5px;
    background-color: #d6564f;
    border: none;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 20px;
    color: #f48c8f;
    font-weight: 400;
    padding-left: 15px;
}

textarea.main_form_item.textarea {
    height: 202px;
    width: 619px;
    display: block;
    padding-top: 8px;
    background: #d6564f;
    border-radius: 5px;   
    border: none;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 20px;
    color: #f48c8f;
    font-weight: 400;
    padding-left: 15px;
    resize: none;
}

.form_container {
    display: flex;
    padding-top: 44px;
}
.contact-info {
    padding-left: 22px;
    letter-spacing: 0.2px;
}

.form_text h2 {
    color: #f0d8d9;
}

.form_text p {
    color: #f0d8d9!important;
}
.contact-info p, h4, a {
    color: #f0d8d9;
}
input::-webkit-input-placeholder {
	color: #f48c8f;
}
input::-moz-placeholder {
	color: #f48c8f;
}
textarea::-webkit-input-placeholder {
	color: #f48c8f;
}
h4.contact-info_text {
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    margin-bottom: 10px;
}

ul.contact-info_items {
    list-style: none;
    margin-top: 30px;
}

a.item-contact_link {
    font-size: 12px;
    font-weight: 400;
    padding-left: 9px;
    text-decoration: none;
    letter-spacing: -0.1px;
}

p.contact-info_info {
    width: 300px;
    height: 80px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-align: justify;
}
input.main_form_item.submit {
    cursor: pointer;
    margin-bottom: 13px;
}
footer.footer {
    background-color: #2d303a;
}
.footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
}
ul.footer_items li {
    padding-left: 8px;
}
ul.footer_items {
    list-style: none;
    display: flex;
}

p.footer_copyright {
    font-size: 12px;
    color: #666d89;
    font-weight: 400;
    padding-left: 3px;
    margin-bottom: 1px;
    letter-spacing: -0.2px;
}
ul.contact-info_items li {
    display: flex;
}

.img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 13px;
    height: 15px;
}
ul.contact-info_items li {
    display: flex;
    margin-bottom: 7px;
}
a.item-contact_link:hover {
    color: aliceblue;
}
ul.footer_items img:hover {
    opacity: 0.5;
}